<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Accueil - Miambio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   arial-expanded="false">
                    Vente (Mickaël)</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a href="/vente/show" class="dropdown-item">Ventes</a></li>
                    <li><a href="/vente/etat" class="dropdown-item">Etat des ventes</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   arial-expanded="false">
                    Récoltes (Anna)</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a href="/recolte/show" class="dropdown-item">Récoltes</a></li>
                    <li><a href="/recolte/etat" class="dropdown-item">Etat des récoltes</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   arial-expanded="false">
                    Production (Nathan)</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a href="/production/show" class="dropdown-item">Production</a></li>
                    <li><a href="/production/etat" class="dropdown-item">Etat de production</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                   arial-expanded="false">
                    Produits (Simone)</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a href="/produit/show" class="dropdown-item">Produits</a></li>
                    <li><a href="/produit/etat" class="dropdown-item">Etat des produits</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>