<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='mes_styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
    {% block title %}
        <title>Accueil</title>
    {% endblock %}

</head>
<body class="bg-dark bg-opacity-25 ">
{% include('_nav.html') %}

{% block body %}
    <h1 class="text-center mt-5">Miambio</h1>
    <div class="row justify-content-center">
        <div class="col-8">
            <hr class="my-4 rounded" style="height: 4px; background-color: darkgreen; ">
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
{% endblock %}


</body>
</html>
