table ,tr {
    table-layout: fixed;
    width: 80%;
    height: 40px;
    border-collapse: collapse;
    border: 1px solid rgb(128, 0, 0);
    background-color: rgb(205, 216, 226);
  }
  

  table, thead-dark {  

    background-color: rgba(255, 0, 212, 0);
  }
  a {
      width:150px;
      height: 30px;
      background-color:rgba(211, 152, 15, 0.541);
      border: 1px rgb(218, 215, 20) groove ;
      text-align:center;
      vertical-align: middle;
      padding: 5px;
      margin : 5px;
      border-radius: 15px;
  }
  
  
  .flashes {
      padding: 5px;
      margin : 5px; 
  }
  
  .alert-warning {
      background-color: rgb(161, 53, 53);
  }
  .alert-success {
      background-color: rgb(106, 165, 106);
  }
  body {
    background-color: #f0f0f0; /* Remplacez cette valeur par la couleur de fond que vous souhaitez */
}

  