{% extends 'layout.html' %}

    {% block title %}
        <title>ventes</title>
    {% endblock %}

{% block body %}

<h1>Liste des ventes <img src="{{ url_for('static', filename='image_iut.jpeg') }}" alt="image iut" /></h1>

<a href="/vente/add">Ajouter une vente</a>

{% if vente|length >= 1 %}
    <table>
        <thead class="thead-dark">
            <tr>
                <th>id</th><th>Prix de vente</th><th>Quantité vendue</th><th>Prix total de vente</th><th>Semaine</th><th>Produit</th><th>Marché</th><th>Maraîcher</th><th>Image</th><th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% if vente|length >= 1 %}
            {% for v in vente %}
                <tr>
                    <td>{{ v.id }}</td>
                    <td>{{ v.Prix_de_vente }}</td>
                    <td>{{ v.Quantitée_vendue }}</td>
                    <td>{{ v.Prix_total_de_vente }}</td>
                    <td>{{ v.Semaine }}</td>
                    <td>{{ v.produit }}</td>
                    <td>{{ v.marches }}</td>
                    <td>{{ v.Maraichers }}</td>
                    <td>
                        {% if v.image %}
                            <img style="width:40px;height:40px" src="{{ url_for('static', filename='images/' + v.image) }}" alt="image de {{ v.nom }}">
                        {% else %}
                            Aucune image
                        {% endif %}
                    </td>
                    <td>
                        <a href="/vente/edit?id={{ v.id }}">Éditer</a>&nbsp;
                        <a href="/vente/delete?id={{ v.id }}">Supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="10">
                    Pas de vente
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% else %}
    <h2>La liste des ventes est vide</h2>
{% endif %}

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>
</body>
 {% endblock %}
