{% extends 'layout.html' %}

{% block title %}
    <title>Modifier une production</title>
{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Modifier une production</h1>
    <hr class="barre opacity-100">

    <form method="post" action="/production/edit">
        <input type="hidden" name="id" value="{{ production.id }}">
        <label for="produit">Produit :</label>
        <select name="produit" id="produit" required>
            {% for produit in produits %}
                <option value="{{ produit.Id_produit }}" {% if produit.Id_produit == production.Id_produit %}selected{% endif %}>{{ produit.Libellé_produit }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="maraicher">Maraîcher :</label>
        <select name="maraicher" id="maraicher" required>
            {% for maraicher in maraichers %}
                <option value="{{ maraicher.Id_maraicher }}" {% if maraicher.Id_maraicher == production.Id_maraicher %}selected{% endif %}>{{ maraicher.Nom_maraicher }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="surface">Surface cultivée :</label>
        <input type="number" name="surface" id="surface" value="{{ production.surface_cultivee }}" required>
        <br>
        <input type="submit" value="Modifier">
    </form>
{% endblock %}
