{% extends 'layout.html' %}

{% block title %}
    <title>Les productions</title>
{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Les productions</h1>
    <hr class="barre opacity-100">

    <a class="btn btn-primary m-lg-2" href="/production/etat">filtrer les productions</a>
    <a class="btn btn-primary m-lg-2" href="/production/add">Ajouter une production</a>
    {% if production | length >= 1 %}
        <table class="table table-dark table-striped">
            <tr>
                <th>id</th>
                <th>Produit</th>
                <th>Maraîcher</th>
                <th>Surface cultivée</th>
                <th>modifications</th>
            </tr>
            {% for ligne in production %}
                <tr>
                    <td>{{ ligne.Id_production }}</td>
                    <td>{{ ligne.Libellé_produit }}</td>
                    <td>{{ ligne.Nom_maraicher }}</td>
                    <td>{{ ligne.surface_cultivee }} ha</td>
                    <td>
                        <a href="/production/edit?id={{ ligne.Id_production }}">modifier</a>
                        <a href="/production/delete?id={{ ligne.Id_production }}">supprimer</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>La liste des productions est vide</h2>
    {% endif %}
{% endblock %}
