<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon"  href="{{ url_for('static', filename='iconeweb.ico') }}" />
     <img src="{{ url_for('static', filename='image_iut.jpeg') }}" alt="" />
    <link rel="stylesheet" href="{{ url_for('static', filename='mes_styles.css') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}" >
    <title>produit</title>
</head>
<body>

{#{{ produit }}#}
<h1>listes des produits</h1>

<a href="/produit/add" >ajouter un produit</a>

{% if produits | length >= 1 %}
    <table class="table table-dark table-striped">>
        <tr>
            <th>id</th><th>lbproduit</th><th>cgid</th>
        </tr>
        {% for produit in produits %}
            <tr>

                <td>{{ produit.id }}</td>
                <td>{{ produit.lbproduit }}</td>
                <td>{{ produit.cgid }}</td>
                <td>
                      <a href="/produit/edit?id={{ produit.id }}">editer</a>&nbsp;
                      <a href="/produit/delete?id={{ produit.id }}" >supprimer</a>
                  </td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h2> la liste des produits est vide</h2>
{% endif %}

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"></script>    
</body>
</html>
