{% extends 'layout.html' %}

{% block title %}
    <title>Ajouter une production</title>
{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Ajouter une production</h1>
    <div class="row justify-content-center">
        <div class="col-8">
            <hr class="my-4 rounded" style="height: 4px; background-color: darkgreen; ">
        </div>
    </div>
    <div class="container">

        <form method="post" action="/production/add">
            <label class="form-label" for="produit">Produit :</label>
            <select class="form-select" name="produit" id="produit" required>
                <option value="" selected>Sélectionner le produit</option>
                {% for produit in produits %}
                    <option value="{{ produit.id_produit }}">{{ produit.libelle_produit }}</option>
                {% endfor %}
            </select>
            <br>
            <label class="form-label" for="maraicher">Maraîcher :</label>
            <select class="form-select" name="maraicher" id="maraicher" required>
                <option value="" selected>Sélectionner le maraicher</option>
                {% for maraicher in maraichers %}
                    <option value="{{ maraicher.id_maraicher }}">{{ maraicher.nom_maraicher }}</option>
                {% endfor %}
            </select>
            <br>
            <label class="form-label" for="surface">Surface cultivée :</label>
            <input class="form-control" type="number" name="surface" id="surface" required>
            <br>
            <input class="btn btn-success" type="submit" value="Ajouter">
            <a class="btn btn-danger" href="/production/show">Annuler</a>

        </form>
    </div>
{% endblock %}
